body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 400px;
  background: #fff;
  margin: 16px auto;
  padding: .125em;
}

.title {
  background: #e3f4ff;
  padding: .5em;
  margin: .25em;
}

.content {
  background: #e3f4ff;
  padding: 1em 0.5em;
  margin: .5em;
}

.button-container {
  background: #e3f4ff;
  margin: .5em;
  text-align: center;
}

button {
  background: white;
  border: 1px solid #eee;
  padding: .75em 1.25em;
  margin: 0 auto;
  display: block;
}